blinker==1.9.0
buildozer==1.5.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
distlib==0.3.9
dnspython==2.7.0
docutils==0.21.2
filelock==3.18.0
filetype==1.2.0
Flask==3.1.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
pexpect==4.9.0
platformdirs==4.3.8
ptyprocess==0.7.0
Pygments==2.19.1
pymongo==4.13.2
pypiwin32==223
python-dotenv==1.1.0
pywin32==310
requests==2.32.4
sh==2.2.2
urllib3==2.5.0
virtualenv==20.31.2
Werkzeug==3.1.3
